#page-local-progressreview-subjectreview input.homework {
    width: 3em;
}

#page-local-progressreview-subjectreview .changescale {
    width: 10em;
    margin-left: auto;
    margin-right: 8em;
    margin-top:1em;
    margin-bottom: 1em;
}

#page-local-progressreview-index .completed td {
    background-color: #B3FFB3;
}

#page-local-progressreview-index .empty td {
    background-color: #FFB3B3;
}

#tutorreviews h3,
#tutorreviews h4,
#tutorreviews h5 {
    text-align: left;
}
